* {
  font-family: 'M PLUS Code Latin', sans-serif;
  text-align: justify;
  line-height: 140%;
}
body {
  margin: 0;
}
#nav li {
  display: inline;
  list-style-type: none;
  margin: 0px 10% 0px 12%
}
#nav {
  background-color: lightgray;
  padding: 4px 0;
  margin: 0;
}

h3 {
  margin: 3% 35% 0px 35%;
}

[draggable] {
  user-select: none;
}
[draggable]:hover {
  outline: 3px solid #009432;
}
