/* m-plus-1-code-500 - latin */
@font-face {
  font-family: 'M PLUS 1 Code';
  font-style: normal;
  font-weight: 500;
  src: url('/font/m-plus-1-code-v7-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/font/m-plus-1-code-v7-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/font/m-plus-1-code-v7-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('/font/m-plus-1-code-v7-latin-500.woff') format('woff'), /* Modern Browsers */
  url('/font/m-plus-1-code-v7-latin-500.ttf') format('truetype') /* Safari, Android, iOS */
}
* {
  font-family: "M PLUS 1 Code";
  text-align: justify;
  line-height: 140%;
}
body {
  margin: 0;
}
.wrapper {
  background-color: lightgray;
  height: 60px;
}
.wrapper .item {
  display: table-cell;
  width: 400px;
  padding-left: 10%;
  padding-top: 1%;
  list-style-type: none;
}
div p {
  margin: 3% 25% 0px 25%;
}
