* {
  font-family: 'M PLUS Code Latin', sans-serif;
  text-align: justify;
  line-height: 140%;
}
body {
  margin: 0;
}
.wrapper {
  background-color: lightgray;
  height: 60px;
}
.wrapper .item {
  display: table-cell;
  width: 400px;
  padding-left: 10%;
  padding-top: 1%;
  list-style-type: none;
}
h3 {
  margin: 3% 35% 0px 35%;
}
.stats {
  margin: 3% 30% 0 35%;
}
