* {
  font-family: 'M PLUS Code Latin', sans-serif;
  text-align: justify;
  line-height: 140%;
}
body {
  margin: 0;
}

body{
  display: inline;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  padding: 20px;
}
.wrapper{
  background: #fff;
  background-color: lightgray;
  width: 100%;
}
.wrapper .item{
  list-style-type: none;
  margin-top: 0px;
  margin-right: 10%;
  margin-bottom: 0px;
  margin-left: 50%;
  height: 35px;
  display: inline;
}
.wrapper .item:last-child{
  margin-bottom: 0px;
}
.wrapper .item .text{
  font-size: 18px;
  font-weight: 400;
}
.wrapper .item i{
  font-size: 18px;
  cursor: pointer;
}
